<html ng-app="yearsApp">

<!-- CSS references; Google Fonts & FontAwesome -->
<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">

<!-- Loading JQuery & Angular from Google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- Loading Bootstrap's JS file -->
<script src="js/bootstrap.js"></script>
<script src="years.js"></script>

<body ng-controller="YearsListController">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Navbar Header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WCU Gamification</a>
      </div>
      <!-- END Navbar Header -->
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse navbar-right" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
    </div>
      <!-- END Navbar Links-->
  </nav>
  <!-- END Navigation Bar -->

  <div class="row">
  <!-- Leftbar -->
    <div class="leftbar">

      <div class="col-md-2 col-sm-4">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="collapse navbar-collapse">
            <ul class="nav nav-stacked">
              <li><a href="#">Home</a></li>
              <li><a href="#">Story</a></li>
              <li><a href="#">Stats</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Github</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- END Leftbar -->

    <!-- Yearbar -->
    <div>
      <div class="col-md-9 col-sm-7">
        <nav class="navbar navbar-inverse" role="navigation">
          <ul class="nav navbar-nav centeryear">
            <li class="evenlyspace"><a href="" ng-click="currentYear = 1">Year 1</a></li>
            <li class="evenlyspace"><a href="" ng-click="currentYear = 2">Year 2</a></li>
            <li class="evenlyspace"><a href="" ng-click="currentYear = 3">Year 3</a></li>
            <li class="evenlyspace"><a href="" ng-click="currentYear = 4">Year 4</a></li>
            <li class="evenlyspace"><a href="" ng-click="currentYear = 5">Year 5</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- END Yearbar -->

    <!-- Missionbar -->
    <div class="col-md-2 col-sm-2">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <!-- Testing looping with Angular -->



        <!-- First Mission -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Mission: Thin Clients
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Electronic Classrooms<br>
              Demonstration Classrooms<br>
              Technology Commons<br>
              Health and Human Sciences<br>
              Forsyth
            </div>
          </div>
        </div>
        <!-- END First Mission -->

        <!-- Second Mission -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Mission: Analog to Digital Upgrades
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Electronic Classrooms<br>
              Demonstration Classrooms
            </div>
          </div>
        </div>
        <!-- END Second Mission -->

        <!-- Third Mission -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Mission: Standardization
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              Open-Access Student Labs<br>
              Collaboration Spaces<br>
              Meeting Rooms<br>
              SCCM Integrations<br>
              Casper Integration
            </div>
          </div>
        </div>
        <!-- END Third Mission -->

        <!-- Fourth Mission -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Mission: Virtual Computing
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              Provost Pilot<br>
              Software Portal<br>
              Video Playback Enhancements
            </div>
          </div>
        </div>
        <!-- END Fourth Mission -->

        <!-- Fifth Mission -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Mission: Projectors
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              Classrooms<br>
              Laser Projectors
            </div>
          </div>
        </div>
        <!-- END Fifth Mission -->
      </div>
    </div>

    <!-- END Missionbar -->

    <!-- Mission Icon -->
    <div class="col-md-3">
      <img src="files\ThinClientIcon.png" class="img-responsive">
    </div>

    <!-- END Mission Icon -->

    <!-- Progressbars -->
    <div class="col-md-4">
      <p class="center">Team Progress</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          40%
        </div>
      </div>
      <p class="center">Individual Progress</p>
      <div class="progress">
        <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
          75%
        </div>
      </div>
    </div>
    <!-- END Progressbars -->

    <!-- Mission Info Text -->
    <div class="col-md-7">
      <span>{{ yearsList[currentYear].text }}</span>
    </div>
    <!-- END Mission Info Text -->
  </div>

</body>

</html>

<!-- TEST TEST ipso lorem etc just making some junk to copy paste bacon ipsum yadayadaTEST TEST ipso lorem etc just making some junk to copy paste bacon ipsum yadayadaTEST TEST ipso lorem etc just making some junk to copy paste bacon ipsum yadayadaTEST TEST ipso lorem etc just making some junk to copy paste bacon ipsum yadayadaTEST TEST ipso lorem etc just making some junk to copy paste bacon ipsum yadayada -->
